version: 2.1

jobs:
  build:
    machine:
      image: ubuntu-1604:201903-01
    # docker:
      #- image: maven:3-jdk-8
      # - image: openjdk:8-jdk
    # resource_class: large
    environment:
      MAVEN_OPTS: "-Xmx2048M -Xss128M -XX:+CMSClassUnloadingEnabled -XX:+UseG1GC -XX:-UseGCOverheadLimit"
    steps:
      - checkout
      - restore_cache:
          key: cache
      - run: sudo apt update && sudo apt install openjfx
      - run: mvn clean install
      - run: mvn install -Pdefault-first,default-second -Dgib.enabled=true
      - save_cache:
          key: cache
          paths:
            - .autoconf
            - /home/circleci/.m2
